<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/Com.ico" rel="icon">

  <title>Ayobami Alaran</title>

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="minimal">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-inverse">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav nav-text">
            <li><a href="./index.html" title="">Home</a></li>
            <li><a href="./projects.html" title="">Projects</a></li>
            <li><a href="./about.html" title="">About me</a></li>
            <li><a href="./contact.html" title="">Contact</a></li>
            <li><a href="./blog.html" title="">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container"
    style="background-image: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div style="text-align:center;" class="text-content">
              <h1>Hello 👋,<br>
                <span style="text-align:center;" id="typed-strings">
                  <span>I'm Ayobami Alaran</span>
                  <span>Data Analyst</span>
                  <span>Junior Data Scientist</span>
                  <span>Software Developer</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      type();
      movingBackgroundImage();
    });
  </script>


  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>